<html>
	<head>
		<title>Job Post Verification </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="banner">
			<div class="navbar">
				<img src="{{ url_for('static', filename='logo.png') }}" class="logo">
				<ul>
					<li><a> Home</a></li>
					<li><a href="FAQ"> FAQ</a></li>
				</ul>
			</div>
			
			<div class="content">
				<h1> Job Post Verification</h1>
				
				<h2>Scammers have become more and more creative in their swindling ways. Stay ahead and safe.  <br> Get the LINK.<br> VERIFY. <br>And then get the JOB.<h2>
				<p>For Linkedin & Career24job posts only, paste link and for other posts enter text. </p>
				
			<div>
				<a href='box'> <button type="button"><span></span>Click to Enter a Link</button></a>
				<a href='textBox'><button type="button"><span></span>Click to Enter Text</button></a>
			</div>
		</div>
	
	
	
	</body>
	</html>